
.menu{
  height: auto;
  overflow: hidden;
}

.menu .btn{
  display:block;
  padding: 1rem;
  border-bottom: solid 1px #1b1b2f;
  border-top: solid 1px #1f4068;
  position: relative;
}

.menu .submenu {
  background: #1b1b2f;
  overflow: hidden;
  max-height: 0;
  transition: max-height .8s ease-out;
}

.menu .submenu a{
  display:block;
  padding: 1rem;
  position: relative;
}

.menu .submenu a::before{
  content:'';
  display:block;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 5px;
  background: #e43f5a;
  opacity: 0;
  transition: all .5s;
}

.menu .submenu a:hover{
  padding-left: calc(1rem + 5px);
}

.menu .submenu a:hover::before{
  opacity: 1;
}

.item:target .submenu{
  max-height: 20rem;
}